# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    trusted_proxies: '%env(TRUSTED_PROXIES)%'
    #csrf_protection: true
    http_method_override: false

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    #esi: true
    #fragments: true
    php_errors:
        log: true
    serializer:
        circular_reference_handler: 'RZ\Roadiz\CoreBundle\Serializer\CircularReferenceHandler'
        max_depth_handler: 'RZ\Roadiz\CoreBundle\Serializer\CircularReferenceHandler'
    csrf_protection:
        enabled: true

    rate_limiter:
        contact_form:
            policy: 'token_bucket'
            limit: 10
            rate: { interval: '1 minutes', amount: 5 }
            cache_pool: 'cache.contact_form_limiter'
        newsletter_form:
            policy: 'token_bucket'
            limit: 5
            rate: { interval: '1 minutes', amount: 5 }
            cache_pool: 'cache.newsletter_form_limiter'
        password_protected:
            policy: 'token_bucket'
            limit: 3
            rate: { interval: '1 minutes', amount: 3 }
            cache_pool: 'cache.password_protected_limiter'
        custom_form:
            policy: 'token_bucket'
            limit: 10
            rate: { interval: '1 minutes', amount: 5 }
            cache_pool: 'cache.custom_form_limiter'
when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
