.dockerignore
.DS_Store
.git
.github
.gitignore
.gitmodules
.gitlab-ci.yml
.idea
.data
.sass-cache
tests
README.md
Dockerfile
Dockerfile.archive
compose.*
sonar-project.properties

*/temp*
*/*/temp*
var
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/prod/prod.encrypt.private.php
*.zip
*.sql
*.log
*.tar
*.tar.gz
*/*/*/node_modules
files/*
public/files/*
*/*/*/src-img
*/*/src-img
*/*.log
.phpcs-cache
supervisord.pid
project_env.sh
.php-cs-fixer.cache
vendor
Makefile
.editorconfig
.gitignore
phpcs.*
phpstan.*
restic.*
auth.json

!.env
!public/themes/*

