# Ignore Roadiz tools and cache for
# creating a docker image
.dockerignore
.DS_Store
.git
.github
.gitignore
.gitmodules
.gitlab-ci.yml
.idea
.data
.sass-cache
tests
README.md
Dockerfile
Dockerfile.archive
docker-compose.yml
docker-compose.env
docker-compose.standalone.yml

*/temp*
*/*/temp*
docker
.vagrant
.data
.idea
var/sessions/*
var/log/*
var/cache/*
var/secret/*
var/*.zip
var/*.sql
var/*.tar.gz
*.zip
*.sql
*.log
*.tar.gz
themes/*/build
themes/*/node_modules
themes/*/app
*/*/*/node_modules
files/*
public/files/*
*/*/*/src-img
*/*/src-img
*/*.log
Vagrantfile
pimple.json
supervisord.pid
project_env.sh
.phpcs-cache

!.env
!vendor
!docker/php-nginx-alpine/etc/nginx/default.d/*
!docker/php-nginx-alpine/crontab.txt
!docker/php-nginx-alpine/supervisor.ini
!docker/php-nginx-alpine/before_launch.sh
!public/themes/*

