RZ\Roadiz\CoreBundle\Api\Model\WebResponse:
    collectionOperations: {}
    itemOperations:
        getByPath:
            method: 'GET'
            path: '/web_response_by_path'
            read: false
            controller: RZ\Roadiz\CoreBundle\Api\Controller\GetWebResponseByPathController
            pagination_enabled: false
            normalization_context:
                pagination_enabled: false
                groups:
                    - get
                    - web_response
                    - position
                    - walker
                    - walker_level
                    - meta
                    - children
                    - children_count
                    - nodes_sources
                    - urls
                    - tag_base
                    - translation_base
                    - document_display
            openapi_context:
                summary: Get a resource by its path wrapped in a WebResponse object
                description: |
                    Get a resource by its path wrapped in a WebResponse
                parameters:
                    -   type: string
                        name: path
                        in: query
                        required: true
                        description: Resource path, or `/` for home page
                        schema:
                            type: string
